.welcome {
    height: 100vh;
    font-size: 20px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.welcome .about {
    width: 70%;
}

.welcome .about-text {
    font-size: 15px;
    color: #fff;
}

.welcome .mission {
    width: 70%;

}

.welcome .mission-text {
    font-size: 15px;
    color: #fff;
}