.gallery{
    background: #222831;
    height: 100vh;
    width: 100vw;  
    overflow-y: hidden;
    padding: 5em;
    
}

.gallery .contents {
    display: flex;
    flex-wrap: wrap;
    height: 90dvh;
    overflow-y: scroll;
    justify-content: center;
}

.my-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.page-title {
    background-color:transparent;
    border: none;
    color: #fff; 
    padding: 12px 25px;
    font-size: 30px;
    border-radius: 5px;
}

.page-title:hover{
    color: orange;
}
