.gallery{
    background: #222831;
    height: 100vh;
    width: 100vw;  
    overflow-y: hidden;
    padding: 10em;
}

.header {
    color: white;
    font-size: 30px;
    font-weight: normal;
    top:60px;
}

.header:hover {
    color: orange;
}


.gallery .contents {
    display: flex;
    flex-wrap: wrap;
    height: 75dvh;
    overflow-y: scroll;
}


