body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e9ecef; 
}

.profile {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof-title {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333333; 
    font-weight: bold;
}

.profile-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-image-container input[type="file"] {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 120px;
    opacity: 0;
    cursor: pointer;
}

.name-inputs {
    display: flex;
    gap: 10px;
}

.prof-inputs, .prof-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.prof-inputs input {
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s; 
}

.prof-inputs input::placeholder {
    color: #6c757d;
    opacity: 1; 
}

.prof-inputs input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25); 
}

button.submit-button, button.edit-button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    color: #ffffff; 
    background-color: #007bff; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

button.submit-button:hover,
button.edit-button:hover {
    background-color: #0056b3; 
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
}