.art-card {
    border: 1px solid hsla(160, 43%, 41%, 0.3); 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: center; 
    margin: 20px;
    background-color: #222831; 
    transition: transform 0.3s, box-shadow 0.3s;
    justify-content: space-between;
    position: relative;
}

.art-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.artCard-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.approve {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
}
.approve:hover::after{
    content: '✔';
    color: darkgreen;
    position: absolute;
}

.decline {
    padding: 10px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-left: 10px;
    position: relative;
}

.decline:hover::after {
    content: '✖';
    color: red;
    position: absolute;

}

.approve:hover, .decline:hover {
    color: transparent;
}


.artCard-details {
    font-size: 20px;
    color: #007bff; 
    margin-bottom: 20px;
    padding-top: 40px;
    margin-top: 15px;
    background: transparent;
    border-color: transparent;
    padding: 20px;
}
.artCard-details:hover{
    text-decoration: underline;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    position: absolute;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: left;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


