.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 1px solid red;
}

.name {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    left: 0px;
}

.name:hover {
    color:orange;
}

.navbar a {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-left: 40px;
    background: transparent;
    border: none;
    color: white;
}

.navbar a:hover{
    color: orange;
}

.navbar a.active{
    color: orange;
}