.user-profile-v2 {
    background: #222831;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.user-info-v2 {
    background: #f2f2f2; /* Light gray background for contrast */
    height: 80%;
    width: 78%;
    padding: 3em;
    display: flex;  
    justify-content: space-between; /* Space between image and text container */
    position: relative;
    border-radius: 10px;
    overflow: hidden; /* Ensure no overflow */
}

.user-image-v2 {
    height: 100%;
    width: 45%;
    object-fit: cover;
    border-radius: 10px;
}

.text-info-v2 {
    width: 50%; /* Container for text info */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the left */
    padding-left: 2em;
}

.name-section-v2, .bio-section-v2 {
    width: 100%;
}

.user-name-v2 {
    color: #222831;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.bio-v2 {
    color: #222831;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.contact-info-v2 {
    color: #222831;
    margin-bottom: 2em;
}

.contact-info-v2 p {
    font-size: 1.2em;
    margin: 0.3em 0;
    display: flex;
    align-items: center;
}

.contact-info-v2 a {
    color: #3498db;
    text-decoration: none;
}

.contact-info-v2 a:hover {
    text-decoration: underline;
}

.contact-info-v2 svg {
    margin-right: 0.5em;
}

.button-group-v2 {
    display: flex;
    gap: 1em;
}

.see-arts-v2, .edit-profile-v2, .save-profile-v2, .cancel-edit-v2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
}

.see-arts-v2:hover, .edit-profile-v2:hover, .save-profile-v2:hover, .cancel-edit-v2:hover {
    background-color: #2980b9;
}

.edit-form-v2 {
    width: 100%;
}

.form-group-v2 {
    margin-bottom: 1em;
    width: 100%;
}

.form-group-v2.inline-group-v2 {
    display: flex;
    justify-content: space-between;
}

.form-group-v2 input, .form-group-v2 textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    color: #222831; /* Text color */
}

.form-group-v2 input::placeholder, .form-group-v2 textarea::placeholder {
    color: #999999; /* Placeholder color */
}

.inline-group-v2 .form-group-v2 {
    flex: 1;
    margin-right: 1em;
}

.inline-group-v2 .form-group-v2:last-child {
    margin-right: 0;
}
