
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login-signup-button {
    margin-top: 30px;
    height: 40px;
    border: none;
    border-radius: 30px;
    width: 100%;
}

.login-signup-button:hover {
    cursor: pointer;
    background-color: #d5d5d5;
}

::placeholder {
    color: white;
}

.undertext {
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

.undertext:hover {
    text-decoration: underline;
}

.login-modal {
    display: flex;
    flex-direction: column;
    padding: 0px 8px 0px 8px;
}

.login-inner-container {
    background-color: transparent;
    height: 500px;
    border-radius: 2px;
    padding: 10px;
    width: 30%;
}

.login-register-input {
    padding: 10px;
    margin-bottom: 9px;
    border-radius: 20px;
    border: solid 1px white;
    background: none;
    color: white;
    outline: none;
    width: 100%;
}